In [4]:
#1-1 변수선언

strVal = 'data science'                 #문자열 변수
nVal = 12345                            #정수형 변수
fVal = 1.2                              #실수형 변수
lVal = {'data', 'science'}              #리스트
dVal = {'lecture' : 'data science'}     #딕셔너리 
bVal = True                             #논리형 변수(참/거짓)

In [5]:
#1-2 주석처리

#기본적인 주석
'''
이런 형태의 주석도 많이 사용
'''

'\n이런 형태의 주석도 많이 사용\n'

In [7]:
#1-3 변수의 값과 자료형 확인

strVal

'data science'

In [8]:
nVal

12345

In [9]:
fVal

1.2

In [10]:
lVal

{'data', 'science'}

In [11]:
dVal

{'lecture': 'data science'}

In [12]:
bVal

True

In [13]:
print('strVal : ', strVal)
print('nVal : ', nVal)
print('fVal : ', fVal)
print('lVal : ', lVal)
print('dVal : ', dVal)
print('bVal : ', bVal)

strVal :  data science
nVal :  12345
fVal :  1.2
lVal :  {'data', 'science'}
dVal :  {'lecture': 'data science'}
bVal :  True

In [14]:
print('strVal : ', type(strVal))
print('nVal : ', type(nVal))
print('fVal : ', type(fVal))
print('lVal : ', type(lVal))
print('dVal : ', type(dVal))
print('bVal : ', type(bVal))

strVal :  <class 'str'>
nVal :  <class 'int'>
fVal :  <class 'float'>
lVal :  <class 'set'>
dVal :  <class 'dict'>
bVal :  <class 'bool'>

In [16]:
#2-1 기본 자료형
'''
같은 변수명일 경우, 이전 데이터를 덮어씀
'''
nVal = 16         # 정수형 변수
fVal = 3.14       # 실수형 변수

In [17]:
print('10진수 표현 : ', nVal)       # 10진수
print('2진수 표현 : ', bin(nVal))  # 2진수
print('8진수 표현 : ', oct(nVal))  # 8진수
print('16진수 표현 : ', hex(nVal))  # 16진수

10진수 표현 :  16
2진수 표현 :  0b10000
8진수 표현 :  0o20
16진수 표현 :  0x10

In [18]:
#2-2 논리형 자료형 (또는 부울 자료형)
btVal = True        #논리형 변수 (참)
bfVal = False       #논리형 변수 (거짓)

In [20]:
btVal = TRUE      #논리형 변수 (참) 오류
bfVal = FALSE     #논리형 변수 (거짓) 오류

NameError: ignored

In [22]:
btVal = true        #논리형 변수 (참) 오류
bfVal = false       #논리형 변수 (거짓) 오류

NameError: ignored

In [24]:
#2-3 비교연산자
10 == 11

True

In [25]:
10 != 11

True

In [26]:
10 >= 11

False

In [27]:
10 <= 11

True

In [28]:
10 > 11

False

In [29]:
10 < 11

True

In [31]:
nBig = 100
nSmall = 10

In [32]:
print(nBig == nSmall)
print(nBig != nSmall)
print(nBig >= nSmall)
print(nBig <= nSmall)
print(nBig > nSmall)
print(nBig < nSmall)

False
True
True
False
True
False

In [33]:
print(nBig =< nSmall)   #오류

SyntaxError: ignored

In [34]:
print(nBig => nSmall)   #오류

SyntaxError: ignored

In [35]:
#3-1 문자열
strData = 'data'    #문자열 변수
strSci = "Science"  #문자열 변수

In [36]:
strLecture = strData + strSci

In [37]:
strLecture

'dataScience'

In [39]:
strLecture = strData + " " + strSci
strLecture

'data Science'

In [40]:
strLecture.split()

['data', 'Science']

In [41]:
lSeperate = strLecture.split()

In [42]:
type(lSeperate)

list

In [1]:
strHello = "안녕하세요. 반갑습니다."

In [2]:
strHello.find("반갑")     #문자열을 찾기 위해 find() 함수를 이용 , 문자열이 있으면, 첫번째 시작 인덱스를 반환

7

In [3]:
strHello.find("hello")    #문자열이 없으면 -1을 리턴

-1

In [5]:
"반갑" in strHello  #in  명령어를 사용하여 확인 가능 : if 조건문에서 활용

True

In [6]:
strHello.replace(".",'?')   #.을 모두 ?로 변경

'안녕하세요? 반갑습니다?'

In [7]:
strHello.replace('.', '?')
strHello.replace("하세요", "하셔유")    #안녕하셔유? 가 될까용

'안녕하셔유. 반갑습니다.'

In [8]:
strHello    #원본데이터는 변하지 않는다.

'안녕하세요. 반갑습니다.'

In [9]:
strNewHello = strHello.replace('.', '?')                    # strHello를 replace하여 strNewHello에 저장   
strNewHello = strNewHello.replace("하세요", "하셔유")       # strNewHello를 replace하여 strNewHello에 저장
strNewHello

'안녕하셔유? 반갑습니다?'

In [12]:
strHello.strip('반갑습니다.')  #strip() 함수를 이용하여 반갑습니다. 제거

'안녕하세요. '

In [13]:
strHello   #원본 데이터는 변하지않음

'안녕하세요. 반갑습니다.'

In [14]:
#3-1 리스트
InData = [1, 2, 3, 4, 5]     #InData를 리스트로 생성
print(InData)
print('type : ', type(InData))

[1, 2, 3, 4, 5]
type :  <class 'list'>

In [15]:
#3-2 리스트 인덱싱
print(InData[0])    #InData 리스트의 0번 인덱스의 값 출력
print(InData[3])    #InData 리스트의 3번 인덱스의 값 출력

1
4

In [16]:
InData[0] = InData[4]
print(InData)

[5, 2, 3, 4, 5]

In [17]:
#3-3 리스트 슬라이싱
print(InData[2:4])

[3, 4]

In [3]:
#3-4 리스트 기본 연산
InData = [1,2,3,4,5]
lstrData = ['a', 'b', 'c']

#두 개의 서로다른 자료형을 가진 리스트를 병합
InData + lstrData

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [19]:
InData.append(10) #10을 맨 뒤에 추가
InData

[1, 2, 3, 4, 5, 10]

In [22]:
InData.insert(0, 'python') #'python' 문자열을 0번 인덱스에 추가하고, 기존 인덱스에 저장된 데이터는 하나씩 뒤로 밀림 (인덱스가 +1)
InData

['python', 'python', 'python', 1, 2, 3, 4, 5, 10]

In [28]:
InData.remove('python').  #'python' 데이터를 삭제
InData

[1, 2, 3, 4, 5, 10]

In [29]:
del InData[5]   #del 명령어를 통해 인덱스를 지정하여 삭제
InData

[1, 2, 3, 4, 5]

In [4]:
InData

[1, 2, 3, 4, 5]

In [31]:
InData.pop(0)    #0번 인덱스의 데이터를 삭제
InData

[2, 3, 4, 5]

In [33]:
InData.pop()    #인덱스 지정이 없으면, 마지막 인덱스의 값을 삭제
InData

[2, 3]

In [5]:
InData.clear()   #리스트의 모든 데이터를 삭제
InData

[]

In [6]:
#4-1 튜플
#튜플의 기본 구조
tVal = ("사과", "딸기", "바나나", "토마토", "키위")

print(tVal)
print(type(tVal))

('사과', '딸기', '바나나', '토마토', '키위')
<class 'tuple'>

In [7]:
#튜플에 저장된 데이터는 변경이 불가능
tVal[0] = "포도"

TypeError: ignored

In [8]:
#count() 함수를 이용하여 튜플에 저자오딘 특정 데이터의 개수를 확인
tData = (1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)
tData.count(1)

3

In [9]:
#len()함수를 이용하여 튜플에 저장된 전체 데이터 개수를 확인
len(tVal)

5

In [10]:
len(tData)

11

In [11]:
print(tData[2:5])

(3, 1, 2)

In [12]:
# 4-2 튜플 데이터 병합
tTuple = tVal + tData
print(tTuple)

('사과', '딸기', '바나나', '토마토', '키위', 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [13]:
# 4-3 튜플 데이터 반복
tData * 2

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [14]:
tData

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [15]:
tData2 = tData * 2
print(tData2)

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [16]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal * 2
print("tVal memory = ", hex(id(tVal)))
print(tVal)

tVal memory =  0x7f9d41fd2bf0
tVal memory =  0x7f9d3d7bf0e0
('사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위')

In [17]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal + tVal
print("tVal memory = ", hex(id(tVal)))
print(tVal)

tVal memory =  0x7f9d3d7bf0e0
tVal memory =  0x7f9d44f3f2f0
('사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위')

In [18]:
# 5-1 셋
sVal = {1, 2, 3, 4, 5}
print(sVal)
print(type(sVal))

{1, 2, 3, 4, 5}
<class 'set'>

In [19]:
sVal[1:2]

TypeError: ignored

In [20]:
# add 함수를 이용하여 데이터를 추가할 수 있음
sVal.add(100)
print(sVal)

{1, 2, 3, 4, 5, 100}

In [21]:
# update 함수를 이용하여 여러개의 데이터를 추가할 수 있음
sVal.update([200, 300])
print(sVal)

{1, 2, 3, 4, 5, 100, 200, 300}

In [23]:
# remove 함수를 이용하여 데이터를 삭제할 수 있음
sVal.remove(200)
print(sVal)

{1, 2, 3, 4, 5, 100, 300}

In [25]:
# clear() 함수를 이용하여 데이터를 초기화 할 수 있음
sVal.clear()
print(sVal)

set()

In [26]:
# 5-2 집합 연산
sVal = {100, 200, 300, 400, 500}
sData = {"a", "b", "c", "c", 100, 300}
print(sVal)
print(sData)

{100, 200, 300, 400, 500}
{100, 'c', 'b', 300, 'a'}

In [27]:
# intersection() 함수를 이용하여 교집합을 만들 수 있음
sVal.intersection(sData)

{100, 300}

In [28]:
# deference() 함수를 이용하여 차집합을 만들 수 있음
sVal.difference(sData)

{200, 400, 500}

In [29]:
# "-" 연산자로도 가능
sVal - sData

{200, 400, 500}

In [30]:
# union() 함수를 이용하여 합집합을 만들 수 있음
sVal.union(sData)

{100, 200, 300, 400, 500, 'a', 'b', 'c'}

In [31]:
# "+"연산자는 불가능
sVal + sData

TypeError: ignored

In [32]:
# symetric_difference()를 이용하여 합집합에서 교집합을 뺀 집합을 만들 수 있음
sVal.symmetric_difference(sData)

{200, 400, 500, 'a', 'b', 'c'}

In [33]:
# 6-1 딕셔너리
# 딕셔너리 기본 구조는 다음과 같이 표현할 수 있음
dVal = {
    'name' : '이컴공',
    'email' : 'computer@hoseo.edu',
    'address' : '충남 아산시'
}
print(dVal)

{'name': '이컴공', 'email': 'computer@hoseo.edu', 'address': '충남 아산시'}

In [34]:
# 6-2 기본 연산
dData = {
    "사과" : 300, 
    "포도" : 200, 
    "배" : 500,
    "키위" : 100
}

In [35]:
# 키를 이용한 항목 검색
print(dData["배"])

500

In [36]:
# get() 함수를 이용한 항목 검색
dData.get("배")

500

In [37]:
# 새로운 키 추가를 통한 항목 추가
dData["딸기"] = 100
print(dData)

{'사과': 300, '포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [38]:
# pop을 이용한 항목 삭제
dData.pop("사과")

300

In [39]:
dData

{'포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [40]:
dData.pop()

TypeError: ignored

In [41]:
# sorted 함수를 이용한 정렬
sorted(dData)

['딸기', '배', '키위', '포도']

In [42]:
# sorted와 values 함수를 이용하여 값을 정렬할 수 있음
sorted(dData.values())

[100, 100, 200, 500]

In [43]:
# 실제 dData는 변화가 없음
dData

{'포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [44]:
# 7-1 함수
# 함수 f(x)를 생성하고 x 값을 입력으로 받음
def f(x):
  #x에 10을 더한 값을 출력
  return x + 10